@import "color-and-fonts";
@font-face {
  font-family: "Roboto Light";
  src: url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap")
    format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//general classes

radio-input {
  position: relative;
  text-align: left;
}
.radio-input label {
  display: block;
}

.radio-input label {
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  position: relative;
  padding: 0.5rem 0 0.5rem 28px;
}
.radio-input {
  label {
    &:after,
    &:before {
      content: "";
      display: block;
      width: 22px;
      height: 22px;
      border-radius: 20rem;
      box-sizing: border-box;
      position: absolute;
      left: 4px;
      top: 24px;
    }
    &:before {
      background-color: @color2;
      border: 1px solid red;
    }
    &:after {
      background-color: red;
      transform: scale(0);
      transition: transform 0.15s ease-out;
    }
  }
}

/* hide the actual input */
.radio-input input {
  display: none;
}
.radio-input input:checked + label {
  color: green;
}
.radio-input input:checked + label {
  &:after {
    transform: scale(0.6);
  }
}

/* form scale control */
.form-scale {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}
.form-scale .radio-input label {
  padding: 0 0 28px 0;
  width: 28px;
  text-align: center;
}

.form-scale .radio-input,
.form-scale .radio-input {
  &:after,
  &:before {
    display: block;
    bottom: 0;
    left: 50%;
    top: unset;
    margin-left: -11px;
  }
}

.basic-btn {
  width: 12rem !important;
}
.price {
  font-family: "Cinzel Decorative";
  font-weight: 700;
}
.sizeClicked {
  background-color: @color2;
  color: @color3;
}
.media {
  width: 2.5rem;
  height: 2.5rem;
}
.facebook {
  background-image: url("../../src/assets/icons/facebook.png");
  background-size: cover;
}
.pinterest {
  background-image: url("../../src/assets/icons/pinterest.png");
  background-size: cover;
}
.snapchat {
  background-image: url("../../src/assets/icons/snapchat.png");
  background-size: cover;
}
.instagram {
  background-image: url("../../src/assets/icons/instagram.png");
  background-size: cover;
}
.twitter {
  background-image: url("../../src/assets/icons/twitter.png");
  background-size: cover;
}
//general classes

//  HOME SECTION START
.home {
  background-image: url("../../src/assets/home.jpg");
  background-size: cover;

  .home-right-container {
    // background: grey;
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  h3 {
    position: absolute;
    top: -4rem;
    left: -0.3rem;
    color: @color3;
  }
  .form {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.7rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    label {
      color: @color1;
      font-size: 0.7rem;
      margin: 0.5rem 0;
    }
    .input-fields-wrapper {
      margin: 1rem;
      width: 27vw;
      input {
        padding: 1em;
        height: 3rem;
        background-color: transparent;
        border: 0.05rem solid @color3;
        border: 0.05rem solid #3a3a3a;
        border-left: none;
        border-right: none;
        border-top: none;
      }
    }
    @media (max-width: 1024px) {
      .input-fields-wrapper {
        width: 50vw;
      }
    }
    @media (max-width: 768px) {
      .input-fields-wrapper {
        width: 69vw;
      }
    }
    .switch-form {
      text-align: right;
      a {
        padding-left: 0;
        padding-right: 0;
        color: @color1;
      }
    }
    button {
      margin: 3rem 0;
      height: 3rem;
      text-transform: uppercase;
    }
  }
}
// HOME SECTION END

// MAIN SECTION START
.main {
  .navigation {
    .banner {
      position: relative;
      width: 100vw;
      height: 50vh;
      background-image: url("../../src/assets/banner.jpg");
      background-position: 14% 25%;
      background-size: cover;
      .landing-msg {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 80vw;
        transform: translate(-50%, -50%);
        h1 {
          color: @color3;
          font-weight: bold;
          font-size: 7vw;
          strong {
            color: @color4;
          }
        }
        p {
          color: @color3;
          font-weight: 600;
          font-size: 1.6rem;
        }
      }
      .user-controller {
        position: absolute;
        bottom: 0;
        right: 2rem;
        ul {
          list-style: none;
          li {
            color: @color3;
            font-size: 2rem;
            margin: 1rem;
            font-weight: bold;
            i {
              color: @color3;
              font-size: 2rem;
            }
          }
        }
      }
      // basket section
      .basket {
        position: absolute;
        bottom: -21rem;
        right: 2.5rem;
        z-index: 1;
        background-color: @color3;
        height: 22rem;
        overflow: scroll;
        overflow-x: hidden;
        -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.21);
        -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.21);
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.21);
        padding: 1rem;
      }
      .row {
        padding: 1rem;
        position: relative;
        .discard-item {
          position: absolute;
          top: 0.7rem;
          right: 2rem;
          font-size: 1.5rem;
        }
      }
      .basket-image-holder {
        width: 14rem;
        img {
          height: 14rem;
          width: 100%;
        }
      }
      .info-wrapper {
        width: 20rem;
        padding: 1rem;
        p {
          font-size: 1.5rem;
        }
      }
      // basket section
    }
  }
}
.sneakers {
  margin: 10rem 0;
}
.sneakers-inner {
  padding: 2rem;
  img {
    width: 24rem;
    height: 24rem;
  }
}
.info-wrapper {
  width: 24rem;
  ul {
    list-style: none;
    li {
      margin: 0.3rem;
      border: 1px solid @color2;
      p {
        margin: 0;
        padding: 0.5rem;
      }
    }
  }
}
//MAIN SECTION END

//FOOTER SECTION

.footer {
  background-color: @color2;
  .footer-inner-container {
    margin-top: 4rem;
    width: 80vw;
    ul {
      list-style: none;
      li {
        margin: 0 1rem;
        color: @color3;
        font-weight: 500;
        font-size: 1.2rem;
      }
    }
  }
  .info-container {
    text-align: center;
    margin: 3rem 0;
    p {
      color: @color3;
    }
  }
  .social-media-container {
    margin-bottom: 2rem;
  }
}

//FOOTER SECTION END
