@import "color-and-fonts";
@font-face {
  font-family: "Roboto Light";
  src: url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap")
    format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//general classes

h1,
h2,
h3,
h4,
h5,
p,
li {
  color: @color1;
}
ul {
  list-style: none;
}
.blur {
  filter: blur(6px);
}
.marginRight {
  margin-right: 30rem;
}
.offsetRight {
  position: fixed;
  top: 0;
  right: 0 !important;
}
li span,
li,
span i,
i {
  cursor: pointer;
}
.radio-input {
  //might needs to be removed
  position: relative;
  text-align: left;
}
.radio-input label {
  display: block;
}

.radio-input label {
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  position: relative;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 2px solid @color2;
}

/* hide the actual input */
.radio-input input {
  display: none;
}
.radio-input input:checked + label {
  border: 2px solid @color4;
  color: @color4;
}

/* form scale control */

.basic-btn {
  width: 12rem !important;
}
.price {
  font-family: "Cinzel Decorative";
  font-weight: 700;
}
.sizePicked {
  margin-bottom: 1rem !important;
  color: @color5 !important;
}
.media {
  width: 2.5rem;
  height: 2.5rem;
}
.facebook {
  background-image: url("../../src/assets/icons/facebook.png");
  background-size: cover;
}
.pinterest {
  background-image: url("../../src/assets/icons/pinterest.png");
  background-size: cover;
}
.snapchat {
  background-image: url("../../src/assets/icons/snapchat.png");
  background-size: cover;
}
.instagram {
  background-image: url("../../src/assets/icons/instagram.png");
  background-size: cover;
}
.twitter {
  background-image: url("../../src/assets/icons/twitter.png");
  background-size: cover;
}

.layer {
  position: fixed;
  background-color: black;
  opacity: 0.3;
  transition: 0.4s;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

// !Sidebar
#inspire {
  margin-top: 2rem;
  height: 40vh !important;
  .v-window {
    height: 40vh !important;
    .v-carousel__item {
      height: 100% !important;
    }
  }
  .v-sheet {
    position: relative;
    img {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}
.sidebar {
  width: 30em;
  height: 100%;
  z-index: 2;
  background-color: @color3;
  top: 0;
  right: -30rem;
  position: fixed;
  transition: 0.4s;

  .discard-item {
    position: relative;
    top: 1rem;
    right: -1rem;
    i {
      font-size: 1.2rem;
    }
  }
  .description-section {
    padding: 2rem;
    h5 {
      margin: 1.5rem 0 3rem;
    }
    .btn {
      width: 25rem;
    }
    @media (max-width: 576px) {
      .btn {
        width: 19.5rem;
      }
    }
  }
  .sizes {
    margin: 0 0 3rem 0;
  }
}
@media (max-width: 576px) {
  .sidebar {
    width: 100%;
  }
}

// !Sidebar

// *? basket

.basket {
  position: absolute;
  bottom: -26rem;
  right: 2.5rem;
  z-index: 1;
  background-color: @color3;

  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.21);
  padding: 1rem;
}

@media (max-width: 768px) {
  .basket {
    width: 22rem;
    right: 0.5rem;
  }
}
.basket-inner {
  height: 19rem;
  .row {
    padding: 1rem;
    position: relative;
    .discard-item {
      position: absolute;
      top: 0.7rem;
      right: 2rem;
      font-size: 1.5rem;
    }
  }
  .basket-image-holder {
    width: 14rem;
    img {
      height: 14rem;
      width: 100%;
    }
  }
  .info-wrapper {
    width: 20rem;
    padding: 1rem;
    p {
      font-size: 1.5rem;
    }
  }
  .total {
    margin: 0 1rem;
    font-size: 1.5rem;
  }
  & > div:last-child {
    margin: 3rem 0;
  }
}

#break-point {
  margin-top: 10rem;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}
p {
  font-weight: 300;
}
.checkout {
  margin: 1rem 0;
  padding: 0 1rem;
}

// *? basket end

.success {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 37vw;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.34);
  padding: 2rem;
  .left {
    margin: 0;
    img {
      width: 10rem;
    }
    @media (max-width: 768px) {
      .success {
        width: 96vw;
      }
      .img {
        width: 6rem;
      }
    }
  }
  .right {
    width: 100%;
  }
}
.go-back {
  p {
    margin: 0.6rem 2rem;
    position: relative;
    cursor: pointer;
  }
  i {
    position: absolute;
    bottom: 3px;
    left: -17px;
  }
}
.err {
  color: #f66c6c;
  font-size: 0.8rem;
  margin: 0;
}
hr {
  width: 100%;
}
a {
  text-decoration: none !important;
}
.active {
  color: @color1;
  border-bottom: 1px solid @color1;
}
.activeColor {
  color: @color1 !important;
}

.social-media-container {
  margin-bottom: 2rem;
  i {
    color: @color4;
    font-size: 1.2rem;
  }
}
//general classes end

//  HOME SECTION START
.form {
  width: 100%;
  height: 100%;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  h3 {
    color: @color1;
    font-size: 1.4rem;
    font-weight: 400;
  }
  .form-inner {
    background-color: @color6;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .discard-item {
      position: absolute;
      top: -2.2rem;
      right: -2rem;
      font-size: 1.5rem;
    }
    label {
      color: @color1;
      font-size: 0.7rem;
      margin: 0.5rem 0;
    }
    .input-fields-wrapper {
      margin: 1rem;
      width: 27vw;
      input {
        padding: 1em;
        height: 3rem;
        background-color: transparent;
        border: 0.05rem solid @color1;
        border: 0.05rem solid @color1;
        border-left: none;
        border-right: none;
        border-top: none;
      }
    }
    @media (max-width: 1024px) {
      .input-fields-wrapper {
        width: 50vw;
      }
    }
    @media (max-width: 768px) {
      .input-fields-wrapper {
        width: 69vw;
      }
    }
    .switch-form {
      text-align: right;
      a {
        font-size: 0.7rem;
        padding-left: 0;
        padding-right: 0;
        color: @color1;
      }
    }
    button {
      margin: 3rem 0;
      height: 3rem;
      text-transform: uppercase;
    }
  }
}

// HOME SECTION END

// MAIN SECTION START

.navigation {
  .banner {
    position: relative;
    // width: 100%;
    height: 50vh;
    background-image: url("../../src/assets/banner.jpg");
    background-position: 14% 25%;
    background-size: cover;
    .hello-message {
      color: @color3;
      font-weight: 600;
      font-size: 1.6rem;
      position: absolute;
      top: 2.1rem;
      right: 3.4rem;
    }
    @media (max-width: 768px) {
      .hello-message {
        top: 0.1rem;
        right: 0.4rem;
        font-size: 1.2rem;
      }
    }
    .landing-msg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      h1 {
        color: @color3;
        font-weight: bold;
        font-size: 7vw;
        strong {
          color: @color4;
        }
      }
      @media (max-width: 768px) {
        h1 {
          font-size: 12vw;
        }
      }
    }
    .user-controller {
      position: absolute;
      bottom: 0;
      right: 1.2rem;
      ul {
        list-style: none;
        margin: 0;
        li {
          color: @color3;
          font-size: 2rem;
          margin: 1rem;

          font-weight: bold;
          i {
            color: @color3;
            font-size: 2rem;
            position: relative;
          }
          .dropdownMenu {
            border: 1px solid #e1dede;
            z-index: 20;
            background-color: #fff;
            position: absolute;
            bottom: -6.5rem;
            left: -3rem;
            border-radius: 9px;
            hr {
              margin-top: 0.5rem;
              margin-bottom: 0;
            }
            p {
              color: #151313;
              font-size: 1.4rem;
              font-weight: 400;
              margin: 0;
            }
            a button {
              width: 5em;
              &:hover p {
                text-decoration: none !important;
              }
            }
            .logout {
              margin-left: 2.7rem;
              margin-bottom: 1rem;
            }
          }
        }
        .shoping-bag {
          position: relative;
        }
      }
      .items-counter {
        width: 1.6rem;
        height: 1.5rem;
        font-size: 1rem;
        text-align: center;
        background-color: #d15656;
        border-radius: 25px;
        position: absolute;
        top: 7px;
        left: 19px;
      }
    }
  }
  nav {
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
    padding: 0;
    margin-bottom: 10rem;
    ul {
      list-style: none;
      text-transform: uppercase;
      margin: 0;
      padding-bottom: 1rem;
      li {
        margin: 0 1rem;
        color: @color3;
        font-size: 1.2rem;
        font-weight: 500;

        p {
          color: @color1;
          margin-bottom: 0;
          padding: 0.5rem 0;
          transition: 0.3s ease-in-out;
          &:hover {
            color: @color1;
            // border-bottom: 2px solid @color1;
          }
        }
      }
    }
  }
}
.sneakers {
  // margin: 10rem 0;
}
.sneakers-inner {
  margin: 1rem 0;
  padding: 1rem 1rem;
  border: 1px solid @color2;
  .sneakers-image-holder {
    width: 100%;
    img {
      width: 100%;
      height: 22rem;
    }
    @media (max-width: 992px) {
      img {
        height: 17rem;
      }
    }
  }
  figure {
    position: relative;
    .price {
      position: absolute;
      top: 8px;
      right: 15px;
      background-color: @color4;
      color: @color6;
      padding: 0.5rem;
    }
  }
}
.info-wrapper {
  width: 100%;
  h3 {
    margin-top: 0.8rem;
  }

  p {
    margin: 0;
    font-size: 1rem;
  }
  .model-wrapper {
    min-height: 4rem;
    max-height: 4rem;
  }
}
//MAIN SECTION END

//FOOTER SECTION

.footer {
  background-color: @color2;
  .footer-inner-container {
    margin-top: 4rem;
    width: 80vw;
    ul {
      list-style: none;
      li {
        margin: 0 1rem;
        color: @color3;
        font-weight: 500;
        font-size: 1.2rem;
      }
    }
  }
  .info-container {
    text-align: center;
    margin: 3rem 0;
    width: 40vw;
    p {
      color: @color3;
    }
  }
}

//FOOTER SECTION END

.checkout {
  .container > .row {
    margin: 0 0 5rem 0;
    padding: 2rem 0;
    border-top: 1px solid @color2;
    border-bottom: 1px solid @color2;
    padding: 0;
  }
  .basket-inner {
    height: 43vh;
    // overflow-x: hidden;
    & + div {
      .number {
        margin: 0.5rem;
        font-size: 1.2rem;
        color: red;
      }
      .total {
        border-top: 1px solid red;
      }
    }
  }
}
.order-info {
  margin: 1rem;
  width: 80%;
  input {
    padding: 1em;
    height: 3rem;
    background-color: transparent;
    border: 0.05rem solid @color1;
  }
  label {
    margin-top: 2rem;
  }
  .radio-wrapper {
    margin-top: 2rem;
  }
  .payment-method {
    margin-top: 2rem;
    & > :first-child {
      position: relative;
      input {
        position: absolute;
        top: -9px;
        right: -35px;
      }
      label {
        margin: 0;
      }
    }
    & > :last-child {
      margin-left: 3rem;
      position: relative;
      input {
        position: absolute;
        top: -9px;
        right: -35px;
      }
      label {
        margin: 0;
      }
    }
  }
  .btn {
    margin: 2rem 0;
  }
}
//dashboard start

.dashboard {
  .go-back {
    position: absolute;
    top: -2.8rem;
    left: 0;
    p,
    i {
      color: @color6;
    }
  }
  width: 100vw;
  height: 100vh;
  background-image: url("../../src/assets/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .inner {
    padding: 2rem;
    position: relative;
    width: 80%;
    border-radius: 25px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.21);
    h3 {
      font-weight: 300;
    }
    form {
      .user-info {
        width: 34vw;
        margin-bottom: 3rem;
      }
      .card-details {
        width: 33vw;
        input {
          cursor: not-allowed;
        }
      }
      @media (max-width: 768px) {
        .user-info {
          width: 62vw;
        }
        .card-details {
          width: 57vw;
        }
      }
    }
    .input-holder {
      position: relative;
      margin: 0 1rem;
      span {
        position: absolute;
        right: 15px;
        top: 33px;
      }
    }
    label {
      color: @color1;
      font-size: 0.7rem;
      margin: 0.5rem 0;
    }
    input {
      padding: 1em;
      height: 2rem;
      width: 100%;
      background: transparent;
      border: 0.05rem solid @color1;
    }
  }
}
