@font-face {
  font-family: "Roboto Light";
  src: url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
p,
li {
  color: #423b3a;
}
.blur {
  filter: blur(6px);
}
.marginRight {
  margin-right: 30rem;
}
.offsetRight {
  position: fixed;
  top: 0;
  right: 0 !important;
}
li span,
li,
span i,
i {
  cursor: pointer;
}
.radio-input {
  position: relative;
  text-align: left;
}
.radio-input label {
  display: block;
}
.radio-input label {
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  position: relative;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 2px solid #151313;
}
/* hide the actual input */
.radio-input input {
  display: none;
}
.radio-input input:checked + label {
  border: 2px solid #67e0d2;
  color: #67e0d2;
}
/* form scale control */
.basic-btn {
  width: 12rem !important;
}
.price {
  font-family: "Cinzel Decorative";
  font-weight: 700;
}
.sizePicked {
  margin-bottom: 1rem !important;
  color: #ff3939 !important;
}
.media {
  width: 2.5rem;
  height: 2.5rem;
}
.facebook {
  background-image: url("../../src/assets/icons/facebook.png");
  background-size: cover;
}
.pinterest {
  background-image: url("../../src/assets/icons/pinterest.png");
  background-size: cover;
}
.snapchat {
  background-image: url("../../src/assets/icons/snapchat.png");
  background-size: cover;
}
.instagram {
  background-image: url("../../src/assets/icons/instagram.png");
  background-size: cover;
}
.twitter {
  background-image: url("../../src/assets/icons/twitter.png");
  background-size: cover;
}
.layer {
  position: fixed;
  background-color: black;
  opacity: 0.3;
  transition: 0.4s;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}
#inspire {
  margin-top: 2rem;
  height: 40vh !important;
}
#inspire .v-window {
  height: 40vh !important;
}
#inspire .v-sheet {
  position: relative;
}
#inspire .v-sheet img {
  position: absolute;
  bottom: 0;
}
#inspire .v-responsive {
  height: 57vh;
}
.sidebar {
  width: 30em;
  height: 100%;
  background-color: #fcfcfc;
  top: 0;
  right: -30rem;
  position: fixed;
  transition: 0.4s;
}
.sidebar .discard-item {
  position: relative;
  top: 1rem;
  right: -1rem;
}
.sidebar .discard-item i {
  font-size: 1.2rem;
}
.sidebar .description-section {
  padding: 2rem;
}
.sidebar .description-section h5 {
  margin: 1.5rem 0 3rem;
}
.sidebar .description-section .btn {
  width: 25rem;
}
.sidebar .sizes {
  margin: 0 0 3rem 0;
}
.basket {
  position: absolute;
  bottom: -26rem;
  right: 2.5rem;
  z-index: 1;
  background-color: #fcfcfc;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.21);
  padding: 1rem;
}
@media (max-width: 768px) {
  .basket {
    width: 22rem;
    right: 0.5rem;
  }
}
.basket-inner {
  height: 19rem;
}
.basket-inner .row {
  padding: 1rem;
  position: relative;
}
.basket-inner .row .discard-item {
  position: absolute;
  top: 0.7rem;
  right: 2rem;
  font-size: 1.5rem;
}
.basket-inner .basket-image-holder {
  width: 14rem;
}
.basket-inner .basket-image-holder img {
  height: 14rem;
  width: 100%;
}
.basket-inner .info-wrapper {
  width: 20rem;
  padding: 1rem;
}
.basket-inner .info-wrapper p {
  font-size: 1.5rem;
}
.basket-inner .total {
  margin: 0 1rem;
  font-size: 1.5rem;
}
.basket-inner > div:last-child {
  margin: 3rem 0;
}
#break-point {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}
p {
  font-weight: 300;
}
.checkout {
  margin: 1rem 0;
  padding: 0 1rem;
}
.success {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 37vw;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.34);
  padding: 2rem;
}
.success .left {
  margin: 0;
}
.success .left img {
  width: 10rem;
}
@media (max-width: 768px) {
  .success .left .success {
    width: 96vw;
  }
  .success .left .img {
    width: 6rem;
  }
}
.success .right {
  width: 100%;
}
.go-back p {
  margin: 0.6rem 2rem;
  position: relative;
  cursor: pointer;
}
.go-back i {
  position: absolute;
  bottom: 3px;
  left: -17px;
}
.err {
  color: #f66c6c;
  font-size: 0.8rem;
  margin: 0;
}
hr {
  width: 100%;
}
a {
  text-decoration: none !important;
}
.active {
  color: #423b3a;
  border-bottom: 2px solid #423b3a;
}
.activeColor {
  color: #423b3a !important;
}
.form {
  width: 100%;
  height: 100%;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
}
.form h3 {
  color: #423b3a;
  font-size: 1.4rem;
  font-weight: 400;
}
.form .form-inner {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.form .form-inner .discard-item {
  position: absolute;
  top: -2.2rem;
  right: -2rem;
  font-size: 1.5rem;
}
.form .form-inner label {
  color: #423b3a;
  font-size: 0.7rem;
  margin: 0.5rem 0;
}
.form .form-inner .input-fields-wrapper {
  margin: 1rem;
  width: 27vw;
}
.form .form-inner .input-fields-wrapper input {
  padding: 1em;
  height: 3rem;
  background-color: transparent;
  border: 0.05rem solid #423b3a;
  border-left: none;
  border-right: none;
  border-top: none;
}
@media (max-width: 1024px) {
  .form .form-inner .input-fields-wrapper {
    width: 50vw;
  }
}
@media (max-width: 768px) {
  .form .form-inner .input-fields-wrapper {
    width: 69vw;
  }
}
.form .form-inner .switch-form {
  text-align: right;
}
.form .form-inner .switch-form a {
  font-size: 0.7rem;
  padding-left: 0;
  padding-right: 0;
  color: #423b3a;
}
.form .form-inner button {
  margin: 3rem 0;
  height: 3rem;
  text-transform: uppercase;
}
.navigation .banner {
  position: relative;
  height: 50vh;
  background-image: url("../../src/assets/banner.jpg");
  background-position: 14% 25%;
  background-size: cover;
}
.navigation .banner .hello-message {
  color: #fcfcfc;
  font-weight: 600;
  font-size: 1.6rem;
  position: absolute;
  top: 2.1rem;
  right: 3.4rem;
}
@media (max-width: 768px) {
  .navigation .banner .hello-message {
    top: 0.1rem;
    right: 0.4rem;
    font-size: 1.2rem;
  }
}
.navigation .banner .landing-msg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.navigation .banner .landing-msg h1 {
  color: #fcfcfc;
  font-weight: bold;
  font-size: 7vw;
}
.navigation .banner .landing-msg h1 strong {
  color: #67e0d2;
}
@media (max-width: 768px) {
  .navigation .banner .landing-msg h1 {
    font-size: 12vw;
  }
}
.navigation .banner .user-controller {
  position: absolute;
  bottom: 0;
  right: 1.2rem;
}
.navigation .banner .user-controller ul {
  list-style: none;
  margin: 0;
}
.navigation .banner .user-controller ul li {
  color: #fcfcfc;
  font-size: 2rem;
  margin: 1rem;
  font-weight: bold;
}
.navigation .banner .user-controller ul li i {
  color: #fcfcfc;
  font-size: 2rem;
  position: relative;
}
.navigation .banner .user-controller ul li .dropdownMenu {
  border: 1px solid #e1dede;
  z-index: 20;
  background-color: #fff;
  position: absolute;
  bottom: -6.5rem;
  left: -3rem;
  border-radius: 9px;
}
.navigation .banner .user-controller ul li .dropdownMenu hr {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.navigation .banner .user-controller ul li .dropdownMenu p {
  color: #151313;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
}
.navigation .banner .user-controller ul li .dropdownMenu a button {
  width: 5em;
}
.navigation .banner .user-controller ul li .dropdownMenu a button:hover p {
  text-decoration: none !important;
}
.navigation .banner .user-controller ul li .dropdownMenu .logout {
  margin-left: 2.7rem;
  margin-bottom: 1rem;
}
.navigation .banner .user-controller ul .shoping-bag {
  position: relative;
}
.navigation .banner .user-controller .items-counter {
  width: 1.6rem;
  height: 1.5rem;
  font-size: 1rem;
  text-align: center;
  background-color: #d15656;
  border-radius: 25px;
  position: absolute;
  top: 7px;
  left: 19px;
}
.navigation nav {
  background: #67e0d2;
  padding: 0;
}
.navigation nav ul {
  list-style: none;
  text-transform: uppercase;
  margin: 0;
}
.navigation nav ul li {
  margin: 0 1rem;
  color: #fcfcfc;
  font-size: 1.2rem;
  font-weight: 500;
}
.navigation nav ul li p {
  color: #fcfcfc;
  margin-top: 1rem;
  transition: 0.3s ease-in-out;
}
.navigation nav ul li p:hover {
  color: #423b3a;
}
.sneakers {
  margin: 10rem 0;
}
.sneakers-inner {
  margin: 1rem 0;
  padding: 1rem 1rem;
  border: 1px solid #151313;
}
.sneakers-inner .sneakers-image-holder {
  width: 100%;
}
.sneakers-inner .sneakers-image-holder img {
  width: 100%;
  height: 51vh;
}
.sneakers-inner figure {
  position: relative;
}
.sneakers-inner figure .price {
  position: absolute;
  top: 8px;
  right: 15px;
  background-color: #67e0d2;
  color: #fff;
  padding: 0.5rem;
}
.info-wrapper {
  width: 100%;
}
.info-wrapper h3 {
  margin-top: 0.8rem;
  padding: 0.5rem;
}
.info-wrapper p {
  margin: 0;
  font-size: 1.4rem;
  padding: 0.5rem;
}
.info-wrapper .model-wrapper {
  min-height: 4rem;
  max-height: 4rem;
}
.sneakers-buttons-wrapper {
  margin: 2rem 0;
}
.footer {
  background-color: #151313;
}
.footer .footer-inner-container {
  margin-top: 4rem;
  width: 80vw;
}
.footer .footer-inner-container ul {
  list-style: none;
}
.footer .footer-inner-container ul li {
  margin: 0 1rem;
  color: #fcfcfc;
  font-weight: 500;
  font-size: 1.2rem;
}
.footer .info-container {
  text-align: center;
  margin: 3rem 0;
  width: 40vw;
}
.footer .info-container p {
  color: #fcfcfc;
}
.footer .social-media-container {
  margin-bottom: 2rem;
}
.footer .social-media-container i {
  color: #67e0d2;
}
.checkout .container > .row {
  margin: 0 0 5rem 0;
  padding: 2rem 0;
  border-top: 1px solid #151313;
  border-bottom: 1px solid #151313;
  padding: 0;
}
.checkout .basket-inner {
  height: 43vh;
}
.checkout .basket-inner + div .number {
  margin: 0.5rem;
  font-size: 1.2rem;
  color: red;
}
.checkout .basket-inner + div .total {
  border-top: 1px solid red;
}
.order-info {
  margin: 1rem;
  width: 80%;
}
.order-info input {
  padding: 1em;
  height: 3rem;
  background-color: transparent;
  border: 0.05rem solid #423b3a;
}
.order-info label {
  margin-top: 2rem;
}
.order-info .radio-wrapper {
  margin-top: 2rem;
}
.order-info .payment-method {
  margin-top: 2rem;
}
.order-info .payment-method > :first-child {
  position: relative;
}
.order-info .payment-method > :first-child input {
  position: absolute;
  top: -9px;
  right: -35px;
}
.order-info .payment-method > :first-child label {
  margin: 0;
}
.order-info .payment-method > :last-child {
  margin-left: 3rem;
  position: relative;
}
.order-info .payment-method > :last-child input {
  position: absolute;
  top: -9px;
  right: -35px;
}
.order-info .payment-method > :last-child label {
  margin: 0;
}
.order-info .btn {
  margin: 2rem 0;
}
.dashboard {
  width: 100vw;
  height: 100vh;
  background-image: url("../../src/assets/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.dashboard .go-back {
  position: absolute;
  top: -2.8rem;
  left: 0;
}
.dashboard .go-back p,
.dashboard .go-back i {
  color: #fff;
}
.dashboard .inner {
  padding: 2rem;
  position: relative;
  width: 80%;
  border-radius: 25px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.21);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.21);
}
.dashboard .inner h3 {
  font-weight: 300;
}
.dashboard .inner form .user-info {
  width: 34vw;
  margin-bottom: 3rem;
}
.dashboard .inner form .card-details {
  width: 33vw;
}
.dashboard .inner form .card-details input {
  cursor: not-allowed;
}
@media (max-width: 768px) {
  .dashboard .inner form .user-info {
    width: 62vw;
  }
  .dashboard .inner form .card-details {
    width: 57vw;
  }
}
.dashboard .inner .input-holder {
  position: relative;
  margin: 0 1rem;
}
.dashboard .inner .input-holder span {
  position: absolute;
  right: 15px;
  top: 33px;
}
.dashboard .inner label {
  color: #423b3a;
  font-size: 0.7rem;
  margin: 0.5rem 0;
}
.dashboard .inner input {
  padding: 1em;
  height: 2rem;
  width: 100%;
  background: transparent;
  border: 0.05rem solid #423b3a;
}
